.testEnvironment {
  background-color: #121212; /* Dark background for a classy look */
  color: #fff; /* White text for contrast */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

button {
  background-color: #fff; /* White button background */
  color: #121212; /* Dark text for buttons */
  border: 2px solid #fff;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 40%;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

button:hover {
  background-color: #333; /* Darker background on hover */
  color: #fff; /* Light text on hover */
  border-color: #fff; /* Light border on hover */
}

.previewContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 700px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); /* Subtle shadow for elegance */
}

video {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Soft white shadow around video */
}

.proceedButton {
  background-color: #333; /* Dark background for proceed button */
  color: #fff; /* White text */
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.proceedButton:hover {
  background-color: #fff; /* Light background on hover */
  color: #333; /* Dark text on hover */
}

.errorMessage {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: #e74c3c; /* Red color for error message */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); /* Slight shadow for a glowing effect */
}
.infoMessage {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  color: #fff; /* White text for contrast */
  max-width: 600px; /* Limit the width for better readability */
  line-height: 1.5;
}
