*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.main{
    /* border: 2px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f1f1f1; */
}
.right{
    /* border: 2px solid red; */
    width: 50%;
    height: 100%;
    padding-left: 3rem;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.left{
    /* background-color: rgba(243, 245, 247, 1); */
    /* border: 2px solid green; */
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.left h1{
    padding-top: .5rem;
    height: 10%;
    text-align: center;
    /* border: 2px solid blue; */
    font-size: 2rem;
    color: #000;
}
.image {
    width: 100%; /* Fill the full width */
    height: 90%; /* Set a fixed height for the container */
    overflow: hidden; /* Hide any overflow */
  }
  
  .image img {
    width: 100%; /* Allow width to adjust */
    height: 100%; /* Fill the height of the container */
    object-fit: contain; /* Ensure the image fits within the div without cropping */
    display: block; /* Remove any extra space below the image */
  }
  
.right h2{
    margin-left: 1rem;
    margin-top: 6rem;
    /* border: 2px solid red; */
    text-align: start;
    font-size: 2rem;
    color: #000;
  }
.right p{
    margin-left: 1rem;
        /* border: 2px solid green; */
        margin-top: 1rem;
        text-align: start;
        color: #000;
    }
    .right span{
        color: rgba(56, 203, 137, 1);
        font-weight: bold;
    }
.inputs{
    /* border: 2px solid #000; */
    width: 70%;
    height: 40%;
    margin: 18px 0;
    padding: 0 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    outline: none;
}
.inputs input{
    border: 0cap;
    border-bottom: 1px solid rgba(232, 236, 239, 1);
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1.2rem;
    outline: none;
}
#terms{
    display: flex;
}
.right button{
    /* border: 2px solid #000; */
    width: 68%;
    height: 50px;
    margin-left:1rem;
    margin-top: 2rem;
    padding: 0 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    outline: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.terms {
    display: flex;
    align-items: center; /* Center checkbox and label */
    margin-left:  1rem;
}
.terms label{
    margin-left: 1rem;
}
.terms span{
    color: #000;
}